; Save this file in /etc/systemd/system
; https://manpages.debian.org/testing/manpages-de/systemd.service.5.de.html

[Unit]
Description=service that periodically sends a status message via MQTT
; Documentation=man:mqtt-heartbeat.conf(5) man:mqtt-heartbeat(8)
; After=network-online.target
; Wants=network-online.target

[Service]
; Type=simple
; Type=notify
; NotifyAccess=main
Type=forking
PIDFile=/run/mqtt-heartbeat.pid       #only use on type=forking
WorkingDirectory=/usr/local/sbin
ExecStart=/usr/local/sbin/mqtt-heartbeat
; ExecStart=<path_to_script>/<app_script.sh>  #To start the application 
; ExecStop=/bin/<path_to_script>/<app_stop_script.sh> #To stop the application
; ExecReload=/usr/sbin/mqtt-heartbeat -s reload
; ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-abnormal
RestartSec=10

[Install]
WantedBy=multi-user.target