; systemd - units file
; Save this file in /etc/systemd/system or /lib/systemd/system
[Unit]
Description=MQTT Heartbeat 
BindsTo=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/mqtt-heartbeat
ExecReload=kill -HUP $MAINPID
; ExecStop=/bin/kill -QUIT $MAINPID
Restart=on-abnormal
RestartSec=10

[Install]
WantedBy=multi-user.target
